/************************************************* Sidebar *************************************************/
.danger-text {
    color: #ff7014;
}

a {
    text-decoration: none;
}

body.light-theme h3 {
    color: #000000;
    font-size: 1.5rem;
}

body.dark-theme h3 {
    color: #ffffff;
    font-size: 1.5rem;
}

body.light-theme aside .top .logo-container h2 {
    margin-top: 0.3rem;
    font-size: 1.7rem;
    color: black;
}

body.dark-theme aside .top .logo-container h2 {
    margin-top: 0.3rem;
    font-size: 1.7rem;
    color: white;
}

aside {
    height: 100vh;
    width: 20rem;
}

aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

aside .logo-container {
    display: flex;
    gap: 1rem;
}

aside .logo-container img {
    width: 3rem;
    height: 3rem;
}

aside .close {
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

aside .sidebar a {
    display: flex;
    color: black;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 5rem;
    transition: all 300ms ease;
    font-size: 1.7rem;
}

body.light-theme aside .sidebar a span {
    color: #000000;
}

body.dark-theme aside .sidebar a span {
    color: #ffffff;
}

aside .sidebar a span {
    font-size: 1.7rem;
    transition: all 300ms ease;
}

aside .sidebar a.active {
    background: #f5a978;
    color: #ff7014;
    margin-left: 0;
}

aside .sidebar a.active:before {
    content: "";
    width: 8px;
    height: 100%;
    background: #ff7014;
}

aside .sidebar a.active span {
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: #ff7014;
}

aside .sidebar a:hover span {
    margin-left: 1.2rem;
}

aside .sidebar .message-count {
    background : #ff7014;
    color: black;
    padding: 3px 10px;
    font-size: 14px;
    border-radius: 12px;
}
/************************************************* Sidebar *************************************************/
