
.calendar-notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 400px;
}

body.light-theme .wrapper {
    flex: 1;
    min-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

body.dark-theme .wrapper {
    flex: 1;
    min-width: 300px;
    background-color: rgb(72, 72, 72);
    padding: 20px;
    border-radius: 5px;
}

body.light-theme .notes-journal {
    flex: 1;
    min-width: 300px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

body.dark-theme .notes-journal {
    flex: 1;
    min-width: 300px;
    background-color: rgb(72, 72, 72);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.notes-journal h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

body.light-theme .notes-journal textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
}

body.dark-theme .notes-journal textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgb(72, 72, 72);
    color: white;
}

.notes-journal button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff7014;
    color: white;
    cursor: pointer;
}

.notes-journal button:hover {
    background-color: #f8680f;
}

#notes-list {
    margin-top: 20px;
}

body.light-theme .note-item {
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

body.dark-theme .note-item {
    background-color: rgb(72, 72, 72);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    position: relative;
}

body.light-theme .note-item .note-text {
    margin: 0;
    color: black;
}

body.dark-theme .note-item .note-text {
    margin: 0;
    color: white;
}

.note-item .note-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.note-item .note-actions button {
    background: none;
    border: none;
    cursor: pointer;
    color: #007bff;
    padding: 0 5px;
}
