body.light-theme .notification-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    position: relative;
}

body.dark-theme .notification-item {
    padding: 10px;
    margin: 5px 0;
    background-color: rgb(72, 72, 72);
    position: relative;
}

body.light-theme .notification-message {
    margin: 0;
    color: black;
}

body.dark-theme .notification-message {
    margin: 0;
    color: white;
}

body.light-theme .notification-timestamp {
    font-size: 0.8em;
    color: #666;
}

body.dark-theme .notification-timestamp {
    font-size: 0.8em;
    color: #777777;
}

.delete-notification {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
