#friends-list {
    list-style: none;
    padding: 0;
}

body.light-theme .friends-status-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 1230px;
}

body.dark-theme .friends-status-container {
    background-color: rgb(72, 72, 72);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    width: 1230px;
}

body.light-theme .friends-status-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: black;
}

body.dark-theme .friends-status-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
}

.friend-item img {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    align-items: center;
    margin-left: 5px;
}

body.light-theme .friend-item .friend-name {
    font-size: 14px;
    color: #333;
    text-align: center;
}

body.dark-theme .friend-item .friend-name {
    font-size: 14px;
    color: white;
    text-align: center;
}

.friends-list {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 0;
    white-space: nowrap;
}

body.light-theme .friend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    flex: 0 0 auto;
    margin: 0 5px;
    border-radius: 5px;
}

body.dark-theme .friend-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #615f5f;
    flex: 0 0 auto;
    margin: 0 5px;
    border-radius: 5px;
}

body.light-theme .friend-item .friend-status {
    color: black;
}

body.dark-theme .friend-item .friend-status {
    color: white;
}
