/* WEATHER WIDGET */
body.light-theme .weather-container {
    padding: 20px;
    background: white;
    border-radius: 10px;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

body.dark-theme .weather-container {
    padding: 20px;
    background: rgb(72, 72, 72);
    border-radius: 10px;
    max-width: 600px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
}

body.light-theme .weather-container h2 {
    font-size: 2em;
    color: black;
}

body.dark-theme .weather-container h2 {
    font-size: 2em;
    color: white;
}

body.light-theme #weather-description,
body.light-theme #weather-temperature {
    color: black;
}

body.dark-theme #weather-description,
body.dark-theme #weather-temperature {
    color: white;
}

.weather-forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

body.light-theme .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

body.dark-theme .forecast-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(72, 72, 72);
    border-radius: 10px;
}

body.light-theme .forecast-item {
    flex: 0 0 auto;
    text-align: center;
    padding: 0 0;
    color: black;
}

body.dark-theme .forecast-item {
    flex: 0 0 auto;
    text-align: center;
    padding: 0 0;
    color: white;
}
