.floor-selector {
    margin-bottom: 20px;
}

.floor-selector button {
    background-color: #ff7014;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 10px;
}

.floor-selector button:hover {
    background-color: #ff7014;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.room-widget {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: calc(30% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
    font-size: 17px;
}

.room-widget h2 {
    margin-bottom: 10px;
}

.room-info p {
    margin: 10px 0;
}

.light-control {
    display: flex;
    margin-top: 10px;
}

.control-btn {
    background-color: #ff7014;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100px;
    margin-left: 20px;
    height: 40px;
    margin-top: 8px;
}

.control-btn:hover {
    background-color: #f86910;
}

.temperature-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.temperature-slider:hover {
    opacity: 1;
}

.temperature-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #f86910;
    border-radius: 50%;
    cursor: pointer;
}

.temperature-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #f86910;
    border-radius: 50%;
    cursor: pointer;
}

.washing-machine-usage {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.washing-machine-usage .material-icons-sharp {
    font-size: 24px; /* Adjust the font size as needed */
}

.washing-controls {
    display: flex;
    flex-direction: column;
}

.controls-right {
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.controls-line {
    display: flex;
    align-items: center;
}

.controls-line button {
    background-color: #ff7014;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px;
}

.controls-line label,
.controls-line input,
.controls-line select,
.controls-line button {
    margin-right: 10px;
}

.divider {
    border: 0;
    height: 2px;
    background: black;
    margin: 20px 0;
}
.large {
    font-size: 36px;
}

.water-usage {
    text-align: center;
}

.usage-widget {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usage-icon {
    text-align: center;
}

.usage-icon span {
    font-size: 48px;
}

.usage-icon p {
    margin: 0;
    font-size: 16px;
}

.usage-circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    background: conic-gradient(rgb(38, 109, 239) 0% var(--progress), #e0e0e0 var(--progress) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.usage-value {
    font-size: 32px;
    font-weight: bold;
}

.usage-label {
    font-size: 14px;
    margin-top: 10px;
}

.usage-circle[data-progress] {
    background: conic-gradient(rgb(38, 109, 239) 0% var(--progress), #e0e0e0 var(--progress) 100%);
}

.usage-circle[data-progress="100"] {
    background: rgb(38, 109, 239);
}

.water-usage h3 {
    margin-bottom: 10px;
}

.mirror-light {
    display: flex;
    margin-top: 10px;
}

.control-btn-mirror {
    background-color: #ff7014;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    width: 100px;
    margin-left: 20px;
    height: 40px;
    margin-top: 8px;
}
