task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.task-form h1 {
    width: 100%;
    text-align: center;
    background: #ff7014
}
.task-form div {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
}
.task-form input, .task-form select, .task-form button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
.task-list {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
}

.task-scheduler {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    width: 100%;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task button {
    background-color: #f5a978;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}